root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{code-snippets,code-workspace,json,md,yaml,yml}{,.jinja}]
indent_size = 2
