default_language_version:
  python: python3
  node: "14.14.0"
exclude: ^tests/samples/mqt-diffs/.*
repos:
  - repo: local
    hooks:
      - id: poetry-check
        name: poetry check
        entry: poetry
        args: ["check"]
        files: pyproject\.toml$
        pass_filenames: no
        language: system
      - id: forbidden-files
        name: forbidden files
        entry: found forbidden files; remove them
        language: fail
        files: "\\.rej$"
  - repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black
        additional_dependencies: ["click<8.1.0"]
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.7.2
    hooks:
      - id: pyupgrade
        args:
          - --keep-percent-format
  - repo: https://github.com/timothycrosley/isort
    rev: 5.5.1
    hooks:
      - id: isort
  - repo: https://github.com/pycqa/flake8
    rev: 3.8.3
    hooks:
      - id: flake8
        additional_dependencies: ["flake8-bugbear==20.1.4", "importlib-metadata<5.0.0"]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.1.2
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: debug-statements
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: mixed-line-ending
        args: ["--fix=lf"]
  - repo: https://github.com/thlorenz/doctoc
    rev: v1.4.0
    hooks:
      - id: doctoc
        args:
          - --github
          - --maxlevel=6
          - --title=<summary>Table of contents</summary>
        exclude: ^(tests/|.github/ISSUE_TEMPLATE/)
