{#
  Note: indentation of 6 spaces is important because that's the depth level
  of container labels in a docker-compose file.
#}

{%- macro middleware_ipallowlist(key, cidr_whitelist, traefik_version) %}
      {%- if cidr_whitelist %}
      {%- set whilelist_middleware_name = 'IPWhiteList' if traefik_version == 2 else 'IPAllowList' -%}
      {#- Declare whitelist middleware #}
      ? traefik.http.middlewares.{{ key }}-whitelist.{{ whilelist_middleware_name }}.sourceRange
      : {% for cidr in cidr_whitelist -%}
        {{ cidr }}{% if not loop.last %}, {% endif %}
        {%- endfor %}
      {%- endif %}
{%- endmacro %}

{%- macro common_middlewares(key, cidr_whitelist, traefik_version) %}
      {#- Common middlewares #}
      traefik.http.middlewares.{{ key }}-buffering.buffering.retryExpression:
        IsNetworkError() && Attempts() < 5
      traefik.http.middlewares.{{ key }}-compress.compress: "true"
      ? traefik.http.middlewares.{{ key }}-forbid-crawlers.headers.customResponseHeaders.X-Robots-Tag
      : "noindex, nofollow"
      traefik.http.middlewares.{{ key }}-addSTS.headers.forceSTSHeader: "true"
      traefik.http.middlewares.{{ key }}-forceSecure.redirectScheme.scheme: https
      traefik.http.middlewares.{{ key }}-forceSecure.redirectScheme.permanent: "true"
      {{- middleware_ipallowlist(key, cidr_whitelist, traefik_version) }}
{%- endmacro %}
