{%- import "_macros.jinja" as macros -%}
{%- import "_traefik1_labels.yml.jinja" as traefik1_labels -%}
{%- import "_traefik1_paths_labels.yml.jinja" as traefik1_path_labels -%}
{%- import "_traefik2_labels.yml.jinja" as traefik2_labels -%}
{%- import "_traefik2_hosts_labels.yml.jinja" as traefik2_hosts_labels -%}
{%- import "_traefik3_labels.yml.jinja" as traefik3_labels -%}
{%- import "_traefik3_paths_labels.yml.jinja" as traefik3_labels_2 -%}
{%- set _key = traefik2_labels.key(project_name, odoo_version, "prod") -%}
version: "2.4"

services:
  odoo:
    extends:
      file: common.yaml
      service: odoo
    restart: unless-stopped
    {%- if domains_prod %}
    hostname: {{ macros.first_main_domain(domains_prod)|tojson }}
    {%- endif %}
    env_file:
      - .docker/odoo.env
      - .docker/db-access.env
    environment:
      DB_FILTER: "{{ odoo_dbfilter | replace('$', '$$') }}"
      DOODBA_ENVIRONMENT: "${DOODBA_ENVIRONMENT-prod}"
      INITIAL_LANG: "{{ odoo_initial_lang }}"
      LIST_DB: "{{ odoo_listdb | tojson }}"
      {%- if odoo_version >= 16.0 %}
      ODOO_BUS_PUBLIC_SAMESITE_WS: 1
      {%- endif %}
      {%- if smtp_relay_host %}
      SMTP_SERVER: smtplocal
      {%- endif %}
      PGHOST: {{ _key }}-db
    depends_on:
      - db
      {%- if smtp_relay_host %}
      - smtp
      {%- endif %}
    networks:
      default:
    {%- if odoo_proxy == "traefik" and domains_prod %}
      inverseproxy_shared:
    {%- endif %}
    labels:
      doodba.domain.main: {{ macros.first_main_domain(domains_prod)|tojson }}
      {%- if odoo_proxy == "traefik" and domains_prod %}
      traefik.enable: "true"
      {%- if traefik_version == 3 -%}
      {{- traefik3_labels.odoo(domains_prod, paths_without_crawlers, odoo_version, traefik_version)}}
      {%- elif traefik_version == 2 -%}
      {{- traefik2_hosts_labels.odoo(domains_prod, paths_without_crawlers, odoo_version)}}
      {%- else -%}
      {{- traefik1_labels.odoo(domains_prod, paths_without_crawlers, odoo_version)}}
      {%- endif -%}
      {{- traefik2_labels.common_middlewares(_key, cidr_whitelist) }}
      {%- if traefik_version == 3 -%}
      {{- traefik3_labels_2.odoo(
              domains_prod,
              cidr_whitelist,
              _key,
              odoo_version,
              paths_without_crawlers,
              paths_with_crawlers,
              project_name,
            ) }}
      {%- elif traefik_version == 2 -%}
      {{- traefik2_labels.odoo(
              domains_prod,
              cidr_whitelist,
              _key,
              odoo_version,
              paths_without_crawlers,
              paths_with_crawlers,
              project_name,
            ) }}
      {%- else -%}
      {{- traefik1_path_labels.odoo(
              domains_prod,
              cidr_whitelist,
              _key,
              odoo_version,
              paths_without_crawlers,
              paths_with_crawlers,
              project_name,
            ) }}
      {%- endif %}
      {%- endif %}

  {% if postgres_version -%}
  db:
    extends:
      file: common.yaml
      service: db
    environment:
      DB_HOST: {{ _key }}-db
    env_file:
      - .docker/db-creation.env
    restart: unless-stopped
    networks:
      default:
        aliases:
          - "{{ _key }}-db"
    {%- if postgres_exposed %}
    {%- if traefik_version >= 3 %}
      inverseproxy_shared:
    labels:
      traefik.enable: "true"
      traefik.docker.network: "inverseproxy_shared"
      {{- traefik3_labels_2.database(
        domains_prod,
        postgres_cidr_whitelist,
        _key,
        postgres_exposed_port,
        project_name,
      ) }}
    {%- else %}
    ports:
      - "{{ postgres_exposed_port }}:5432"
    {%- endif %}
    {%- endif %}
  {%- endif %}

  {%- if smtp_relay_host %}

  smtp:
    extends:
      file: common.yaml
      service: smtpreal
    env_file:
      - .docker/smtp.env
    networks:
      default:
        aliases:
          - smtplocal
    restart: unless-stopped
  {%- endif %}
  {%- if backup_dst and postgres_version|int >= 10 %}

  backup:
    extends:
      file: common.yaml
      service: backup
    env_file:
      - .docker/backup.env
      - .docker/db-access.env
    restart: unless-stopped
    depends_on:
      - db
      {%- if smtp_relay_host %}
      - smtp
      {%- endif %}
  {%- endif %}

networks:
  default:
    driver_opts:
      encrypted: 1
  {%- if odoo_proxy == "traefik" %}

  inverseproxy_shared:
    external: true
  {%- endif %}

volumes:
  {%- if backup_dst %}
  backup_cache:
  {%- endif %}
  filestore:
  db:
  {%- if smtp_relay_host %}
  mailconfig:
  maildata:
  maillogs:
  maillogssupervisord:
  mailstate:
  {%- endif %}
