# See https://github.com/Tecnativa/doodba#optodoocustomsrcreposyaml
./odoo:
  defaults:
    # Shallow repositories ($DEPTH_DEFAULT=1) are faster & thinner
    # You may need a bigger depth when merging PRs (use $DEPTH_MERGE
    # for a sane value of 100 commits)
    depth: $DEPTH_DEFAULT
  remotes:
    {%- if with_github_access_token %}
    ocb: https://${GITHUB_ACCESS_TOKEN}@github.com/OCA/OCB.git
    odoo: https://${GITHUB_ACCESS_TOKEN}@github.com/odoo/odoo.git
    openupgrade: https://${GITHUB_ACCESS_TOKEN}@github.com/OCA/OpenUpgrade.git
    {%- else %}
    ocb: https://github.com/OCA/OCB.git
    odoo: https://github.com/odoo/odoo.git
    openupgrade: https://github.com/OCA/OpenUpgrade.git
    {%- endif %}
  target: ocb $ODOO_VERSION
  merges:
    - ocb $ODOO_VERSION
    # Example of a merge of the PR with the number <PR>
    # - oca refs/pull/<PR>/head
